@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  color: white;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #B95759;
}

.navbar {
  display: flex;
  padding: 10px 50px;
  justify-content: space-between;
}

.title {
  color: #278F81;
}

.navbar div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 18%;
  padding: 0 10px;
}